#rev_slider_87_1_wrapper{
    
}
.mandala1, .mandala2, .mandala3, .mandala4{
    width: 75px !important;
    height: 75px !important;
}
.normal-logo{
    width: 50px I !important;
    height: 50px !important;
}
.timeline{
    box-shadow: inset 0 50px 9px -7px rgba(27,108,230);
    background-color: #4968ff;
    background-image: linear-gradient(43deg, #4968ff 0%, #e366da 46%, #ffa300 100%) !important;
}

.pattern{
    background-color: #c66600 Im !important;
    background-image: linear-gradient(0deg, #c66600 0%, #610097 100%) !important;
    background-image: url(/images/pattern.png);
}